

body {
    font-family:  sans-serif;
}

#game {
   width: 603px;
   height: 600px;
   border: solid 3px;
   position: relative;
   

}
.line{
    height: 200px;
    border-bottom: solid 1px;
}



#game span {
   width: 200px;
   height: 100%;
   border-right:solid 1px;
   float: left;
   display: grid;
   place-content: center;
   font-size: 10rem;
    
}

#game span.win {
    background-color: #25a340;


}

.cursor-pointer {
    cursor: pointer;
}







